.loader {
  width: 76px;
  align-self: center;
  margin: auto 0;
  height: 76px;
  animation: loader 0.5s infinite linear;
  transform: rotate(0deg);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
