.popup {
  width: 375px;
  height: 544px;
  box-sizing: border-box;
  padding: 32px 16px 40px;
  background-color: var(--background-popup);
  z-index: 5;
  display: none;
}

.popup_active {
  display: block;
}
