.subsList {
  list-style: none;
  font-size: 17px;
  width: 343px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.subsList_type_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.subsList_type_grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 163.5px 163.5px;
  grid-template-rows: auto;
}

.subsList__item {
  background-color: #fff;
  border-radius: 16px;
  padding: 0 0 0 16px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: grid;
  box-shadow: 0px 3px 6px 0px rgba(148, 163, 184, 0.15);
}

.subsList__item_type_flex {
  width: 343px;
  padding: 12px 16px;
  justify-content: space-between;
  grid-template-columns: 1fr 95px;
  grid-template-rows: 30px 20px 20px;
}

.subsList__item_type_grid {
  width: 164px;
  padding: 16px;
  justify-content: start;
}

.subList__itemHeader {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--light-type-high);
  grid-column: 1;
  grid-row: 1;
}

.subList__itemHeader_color_noneActive {
  color: var(--light-type-medium);
}

.subList__itemDescription {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  grid-column: 1;
  grid-row: 2;
}

.subList__itemDescription_attention {
  color: var(--light-error-600);
}

.subList__itemDescription_color_primary {
  color: var(--light-type-high);
}

.subList__itemDescription_color_secondary {
  color: var(--light-type-medium);
  max-width: 107px;
}

.subList__itemDate {
  color: var(--light-type-medium);
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  grid-column: 1;
  grid-row: 3;
}

.subList__itemCost {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--light-type-high);
}

.subList__itemCost_color_noneActive {
  color: var(--light-type-medium);
}

.subList__itemDuration {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--light-type-medium);
}

.subList__logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  object-position: center;
  position: absolute;
  border-radius: 50%;
}

.subList__logo_color_noneActive {
  filter: saturate(0);
}

.subList__logo_type_flex {
  top: 41px;
  right: 7px;
}

.subList__logo_type_grid {
  top: 55px;
  left: 106px;
}

.subList__itemCAshBackContainer {
  height: 24px;
  padding: 2px 8px;
  margin-top: 8px;
  box-sizing: border-box;
  z-index: 2;
  border: 1px solid var(--dark-primary-800);
  border-radius: 12px;
  background-color: #fff;
  width: max-content;
}

.subList__itemCashBack {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  margin: 0;
  color: var(--dark-primary-800);
}
