.activeSubsPage {
  width: 375px;
  position: relative;
}

.activeSubsPage__header {
  padding: 0;
  margin: 12px 0px 20px 16px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--light-type-high);
  cursor: default;
}
