.activeSubsPage {
  width: 375px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 36px - 34px);
}

.activeSubsPage__header {
  padding: 0;
  margin: 12px 0px 20px 16px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--light-type-high);
  cursor: default;
}
