.availableSubsPage {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 36px - 34px);
}

.availableSubsPage__container {
  min-height: calc(100vh - 36px - 34px);
  display: flex;
  flex-direction: column;
}

.availableSubsPage__header {
  padding: 56px 0 0 0;
  margin: 0 0px 20px 16px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--light-type-high);
  cursor: default;
}

.availableSubsPage__categoriesList {
  list-style: none;
  margin: 0;
  padding: 0 0 0 16px;
  display: flex;
  column-gap: 8px;
}

.availableSubsPage__category {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 8px;
  color: var(--light-primary-600);
  border-radius: 6px;
  border: 1px solid var(--light-primary-600);
  cursor: pointer;
}

.availableSubsPage__category_active {
  color: #fff;
  background-color: var(--light-primary-600);
}
