.currentCover {
  width: 375px;
}

.currentCover__header {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: 16px;
}

.currentCover__logo {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.currentCover__title {
  padding: 0;
  margin: 0 0 0 8px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--light-type-high);
}

.coversList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-left: 16px;
}

.cover {
  width: 343px;
  padding: 16px 16px 20px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #fff;
  display: grid;
  justify-content: space-between;
  box-shadow: 0px 3px 6px 0px rgba(148, 163, 184, 0.15);
}

.cover__subtitle {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--light-type-high);
  cursor: default;
  grid-column: 1;
  grid-row: 1;
}

.cover__description {
  padding: 0;
  margin: 0 0 8px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-type-medium);
  cursor: default;
  grid-column: 1;
  grid-row: 2;
}

.cover__subscribeCondition {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-success-600);
  cursor: default;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
}

.cover__checkLogo {
  margin-right: 4px;
}

.cover__buttonAbout {
  background-color: transparent;
  border: none;
  width: 156px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-primary-600);
  cursor: pointer;
  grid-column: 1;
  grid-row: 5;
}

.cover__price {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--light-type-high);
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

.cover__period {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-type-medium);
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

.cover__cashbackContainer {
  padding: 2px 8px;
  border-radius: 12px;
  border: 1px solid var(--light-primary-600);
  width: max-content;
  height: 24px;
  box-sizing: border-box;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-self: end;
}

.cover__cashback {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-primary-600);
}

.cover__actionButton {
  width: 311px;
  grid-column: span 2;
  grid-row: 4;
  justify-self: center;
  margin-bottom: 12px;
}

.coverCard {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.coverCard__list {
  list-style: none;
  padding: 0 16px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.coverCard__item {
  display: flex;
  align-items: center;
  position: relative;
}

.coverCard__itemNumber {
  position: absolute;
  left: 13.25px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--light-primary-600);
}

.coverCard__numberContainer {
  margin-right: 12px;
}

.coverCard__itemDescription {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--light-type-high);
}

.coverCard__offer {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light-primary-600);
  margin-top: 20px;
  margin-bottom: 24px;
  margin-left: 16px;
  text-decoration: none;
}

.coverCard__actionButton {
  margin: auto auto 0;
  width: 343px;
}

.currentCover__contentContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  position: relative;
}

.currentCover__popupText {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--light-type-medium);
}

.currentCover__closeButton {
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  top: -16px;
  right: -16px;
}
