@import url(./vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  color: black;
  background-color: white;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-neutrals-200: #F1F5F9;
  --light-neutrals-300: #94A3B8;
  --light-type-high: #070A13;
  --light-primary-600: #7445FF;
  --light-type-medium: #64748B;
  --light-type-low: #CBD5E1;
  --light-success-600: #1A8449;
  --light-primary-700: #6037DA;
  --light-primary-100: #F1ECFF;
  --background-popup: #00000066;
  --dark-primary-800: #6D40C8;
  --Gradient-1700: #C7B5FF;
  --background: #F8FAFC
  --max-desktop-width: 375px
}