.allSubsPage {
  width: 375px;
}

.allSubsPage__header {
  padding: 56px 0 0 0;
  margin: 0 0px 20px 16px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--light-type-high);
  cursor: default;
}
